@page
@model ContactRequestModel
@{
  ViewData["Title"] = "LIEN HE";
}
<h1 class="display-4">Trang liên hệ</h1>
<p class="lead">Điền các thông tin liên hệ</p>
<hr>
@Model.UserId
<h4>Tổng của hai số nguyên (1+2): @Model.Tong(1,2)</h4>
